/*Basic browser reset*/
*{
	margin: 0;
	padding: 0;
}

/*IE img inside of link fix*/
a img{
	border: none;
}

body{
	background-color: #ededed;
	font-family: Verdana;
	font: Verdana;
}

/*COLORS AND TYPOGRAPHY*/

.red{
		color: #e93a35;
}

.caps{
	text-transform: uppercase;
}

.name{
	font: 2em Verdana;
}

.title{
	margin-top: 10px;
	font: 1.2em Verdana;
}

.location{
	font: .75em Verdana;
	letter-spacing: .25em;
	margin-top: 5px;
}

.dates{
	font: bold .8em Verdana;
	margin-top: 5px;
	
}

.biotext{
	font: .85em/1.5em Verdana;
	margin-top: 20px;
}

.biotext a{
	color: #e93a35;
}

.smallbio a.btt{
	font-size: .75em;
	color: #f5950f;
}


/*LAYOUT*/

#wrapper{
	width: 1024px;
	margin: 0px auto;
}

#headerimg{
	margin-bottom: 50px;	
}



#sched{
	position: absolute;
	top: 13px;
	left: 450px;
	height: 172px;

}

#sched ul{

}

#sched li{
	list-style: none;
}

/*         #### IMAGE MAP ####        */

dl.image_map {display:block; width:1024px; height:172px; background:url(images/SummerBannerCOMP1.gif); position:relative; margin:2px auto 2px auto;}
a.LINK0 {left:437px; top:8px; background:transparent;}
a.LINK0 {display:block; width:194px; height:0; padding-top:28px; overflow:hidden; position:absolute;}
a.LINK0:hover  {background:url(images/Banner7_1.gif);/* border:1px dashed black;*/ color:black;}
a.LINK1 {left:437px; top:40px; background:transparent;}
a.LINK1 {display:block; width:194px; height:0; padding-top:28px; overflow:hidden; position:absolute;}
a.LINK1:hover  {background:url(images/Banner7_8.gif);/* border:1px dashed black;*/ color:black;}
a.LINK2 {left:437px; top:71px; background:transparent;}
a.LINK2 {display:block; width:194px; height:0; padding-top:28px; overflow:hidden; position:absolute;}
a.LINK2:hover  {background:url(images/Banner7_15.gif);/* border:1px dashed black;*/ color:black;}
a.LINK3 {left:437px; top:103px; background:transparent;}
a.LINK3 {display:block; width:194px; height:0; padding-top:28px; overflow:hidden; position:absolute;}
a.LINK3:hover  {background:url(images/Banner7_22.gif);/* border:1px dashed black;*/ color:black;}
a.LINK4 {left:437px; top:135px; background:transparent;}
a.LINK4 {display:block; width:194px; height:0; padding-top:28px; overflow:hidden; position:absolute;}
a.LINK4:hover  {background:url(images/Banner7_29.gif);/* border:1px dashed black;*/ color:black;}
a.LINK5 {left:654px; top:8px; background:transparent;}
a.LINK5 {display:block; width:194px; height:0; padding-top:28px; overflow:hidden; position:absolute;}
a.LINK5:hover  {background:url(images/Banner8_5.gif);/* border:1px dashed black;*/ color:black;}
a.LINK6 {left:654px; top:40px; background:transparent;}
a.LINK6 {display:block; width:194px; height:0; padding-top:28px; overflow:hidden; position:absolute;}
a.LINK6:hover  {background:url(images/Banner8_12.gif);/* border:1px dashed black;*/ color:black;}
a.LINK7 {left:654px; top:71px; background:transparent;}
a.LINK7 {display:block; width:194px; height:0; padding-top:28px; overflow:hidden; position:absolute;}
a.LINK7:hover  {background:url(images/Banner8_19.gif);/* border:1px dashed black;*/ color:black;}
a.LINK8 {left:654px; top:103px; background:transparent;}
a.LINK8 {display:block; width:194px; height:0; padding-top:28px; overflow:hidden; position:absolute;}
a.LINK8:hover  {background:url(images/Banner8_26.gif);/* border:1px dashed black;*/ color:black;}

.grid{
	text-align: center;
	width: 512px;
	margin-bottom: 100px;
}

.button{
	margin-bottom: 20px;
}
div#guest{
	float: left;

}

div#campus{
	float: right;
	text-align: center;
}

.twitter{
	width: 396px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.twitter.notfirst{
	margin-top: 30px;
}
.left{
	float: left;
	width: 512px;
	clear: both;
}

.gridimg{
	margin-top: 10px;
	margin-bottom: 0px;
}

.speaker{
	/*height: 200px;*/
	width: 100%;
	margin-bottom: 35px;
}

.pic{

}

.propic{
	float: left;
	margin-right: 15px;
	margin-left: 15px;
}

.smallbio{
	margin-left: 30px;
	margin-right: 15px;
	margin-bottom: 80px;

}

.biotext{
	margin-bottom: 20px;	
}

div#Arrington{
	margin-bottom: 200px;
}





.expanded{
	visibility: hidden;
}

.right{
	float: right;
	width: 512px;
}




